
:root {
  --background: #fff; /* White */
  --secondary-color: #e1d4bf; /* dusty brown */
  --text-color: #000; /* black */
  --button-color: #DCFFE1; /* mint green */
  --button-ligher-grad: #6e7f70; /* dark green */
  --button-dark-grad: #58665a; /* darker green */

  --mushroom-dex-color: #B7B7B7; /* steal gray */
  --mushroom-dex-dark-color: #a4a4a4; /* dark gray */
  --mushroom-dex-border: #a8abac; /* dark tan */

  --font-style: 'Alegreya Sans';
  --secondary-style: 'Titillium Web';
  --font-size: 16px;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
}

* {
  box-sizing: border-box; /* Makes all elements fit on screen */
}

body {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background);
  color: var(--text-color);
  font-family: var(--font-style), sans-serif;
  font-size: var(--font-size);
  font-weight: var(--font-weight-400);
}

h1 {
  font-family: var(--secondary-style);
  font-size: 16px;
  font-weight: var(--font-weight-300);
  margin: 0;
  padding-left: 5px;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  /* to show it above other content */
  z-index: 999;
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  text-align: center;
  display: inline-block;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 500px;
}

.modal_inside {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

.pokemonDex {
  width: 40%;
  height: 100%;
  margin: 10px auto;
  min-width: 200px;
  max-width: 500px;
  padding: 20px 15px;
  background: linear-gradient(
    to left,
    var(--mushroom-dex-dark-color) 0%,
    var(--mushroom-dex-color) 5%,
    var(--mushroom-dex-color) 95%,
    var(--mushroom-dex-dark-color) 100%
    );
  color: #000;
  text-align: left;
  border: .1px solid var(--mushroom-dex-dark-color);
  border-radius: 10px;
  box-shadow:
    1px 2px 6px 1px #808080,
    1px -.5px 6px 1px #808080;
}

.pokemon-list {
  list-style: none;
  margin-top: 5px;
  padding: 0;
}

/* basic styling for mushroom buttons */
.pokemon-list-button {
  width: 100%;
  margin: 8px 0;
	text-align: center;
	letter-spacing: 1px;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none; /* prohibits button text from being selected on iOs */
  -webkit-tap-highlight-color: transparent; /*removes gray rectangle that flashes when clicked */
}

/* last or bottom layer of button */
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: hsl(0deg 0% 0% / .025);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

/* middle layer of button */
.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 11px;
  background: linear-gradient(
    to left,
    var(--button-dark-grad) 0%,
    var(--button-ligher-grad) 8%,
    var(--button-ligher-grad) 92%,
    var(--button-dark-grad) 100%
  );
}

/* top most layer of button  */
.front {
  display: block;
  color: var(--text-color);
  font-size: 1rem;
  background: var(--button-color);
  font-family: var(--secondary-style), sans-serif;
  font-weight: var(--font-weight-600);
  text-transform: capitalize;
  text-align: left;
  position: relative;
  padding: 8px 15px;
  border: .1px solid #6e7f70;
  border-radius: 10px;
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.pokemon-list-button:hover {
  transition: filter 250ms;
  filter: brightness(110%);
}

.pokemon-list-button:hover .front {
  transform: translateY(-5px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.pokemon-list-button:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pokemon-list-button:hover .shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.pokemon-list-button:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pokemon-list-button:focus:not(:focus-visible) {
  outline: none;
}

/* ======================================
    screens larger than 750px
  =======================================*/
@media all and (min-width: 700px) {
  .pokemon-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
  }

  .pokemon-list-button {
    margin: 0;
  }

  .pokemon-list-button:last-child {
    grid-column: 1 / 2; /* child should be in 3rd column . Long hand: grid-column-start: 3; grid-column-end: 1; */

  }
}
