:root {
  --background: #fff; /* White */
  --secondary-color: #e1d4bf; /* dusty brown */
  --text-color: #000; /* black */
  --button-color: #6c865e; /* forest green */
  --button-ligher-grad: #405038; /* dark green */
  --button-dark-grad: #20281C; /* darker green */

  --mushroom-dex-color: #EADEB8; /* tan */
  --mushroom-dex-border: #a39b80; /* dark tan */

  --font-style: 'Alegreya Sans';
  --font-size: 16px;
  --font-weight: 500;
  --secondary-font-weight: 400;
}


body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background);
  color: var(--text-color);
  font-family: var(--font-style), sans-serif;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

body p {
    text-align: center;
    margin: 20px auto;

}
span {
    font-weight: var(--secondary-font-weight);
    font-size: 12px;
    font-style: italic;
}
